

.dashboard-title {
    font-size: 2em;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background-color: rgba(162, 217, 249, 0.35);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    color: #ffffff;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.card .amount {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.card .record {
    font-size: 1em;
    font-weight: bold;
}
