
.dashboard-title {
    font-size: 4em;
    color: #fff;
    margin-bottom: 30px;
    text-align: left;
}

.dashboard-header {
    background-color: rgba(162, 217, 249, 0.44);
    width: 100%; /* 300px is the assumed width of the sidebar */
    transition: width 0.3s ease; /* Smooth transition when the width changes */
    padding: 20px 50px 5px 50px;
    top: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container {
    background-color: rgba(255, 255, 255, 0.5); /* More transparent white (50%) */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 30px;
    width: 700px;
}

.table {
    background-color: rgba(255, 255, 255, 0.4); /* More transparent table background (40%) */
}

.btn_deposit-add {
    margin-bottom: 10px;
}

.action-buttons button {
    margin-right: 5px;
    height: 30px;
    width: 100px;
}

.total-section {
    text-align: right;
    font-weight: bold;
}

thead.table-dark {
    background-color: rgba(33, 37, 41, 0.8); /* Darker header background with 80% opacity */
    color: #fff;
}

/* Style for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.search-container {
    margin-bottom: 20px;
}

#search-bar {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.btn_deposit-success {
    background-color: #007bff;
    color: white;
}

.btn_deposit-primary {
    background-color: #007bff;
    color: white;
}

.btn_deposit-add {
    margin-top: 10px;
}
